/**** BEGIN: CSS RESET ****/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
    outline: none;
}

img {
    border-style: none;
}

/**** END: CSS RESET ****/


/**** Variables ****/

:root {
 --primary-text-color:#071242; 
 --primary-blue: #005F87;
 --link-blue: #00F8FB;
 --link-hover: #19b5fe;
 --primary-yellow: #FFE588;
 --button-blue:#2373EB; 
 --button-hover: #1461D4;  
 --primary-orange: #FDB158;
 --light-grey: #c0ddde;
 --dark-grey: #324b4c;
 --creme: #f5f5f5;
}

/**** BEGIN: GLOBAL BASE STYLES ****/

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 16px;
    font-family: 'lora';
    position: static;
}

h1, h2, h3, h4, h5 {
    font-family: 'lora';
    font-weight: 700;
    font-style: italic;  
}

h1 {
    font-size: 3.375rem;
    line-height: 4.5rem;
  }

h2 {
    font-size: 2.25rem;
    line-height: 3rem;
 }

h3 {
    font-size: 2.25rem;
    line-height: 3rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

h5 {
    font-size: 1.05rem;
    line-height: 1.5rem;
}

p, ul {
    font-family: 'lora';
    font-weight: 400;
    line-height: 1.5rem;
}


.button {
    color: var(--creme);
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 1.450em; 
    padding-bottom: 1.450em;
    border-radius: 15px;
    font-family: 'Rubik';
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 13em; 
    background-color: var(--button-blue);
    transition: transform 400ms ease-in-out;
}

.button:hover {
    transform: translateY(-2px);
    background-color: var(--button-hover);
}



/**** END: GLOBAL BASE STYLES ****/


/**** BEGIN: UTILITY CLASSES ****/

.margin-bottom {
    margin-bottom: 1.25rem;
}

.margin-bottom-m {
    margin-bottom: 1.5rem;
}


.margin-top-xl-sm {
    margin-top: .375rem;
}
.margin-top-xl {
    margin-top: 2rem; 
}

.indent {
    text-indent: 2rem;
}

/**** END: UTILITY CLASSES ****/

/**** BEGIN: HEADER BASE STYLES ****/

.header {
    background-color: var(--primary-orange);
    width: 100%; 
    position: fixed;
    z-index: 999; 
}

.title-container {
    display: none;
    width: max-content;
}



#hamburger-menu {
    display: inline-block;
    width: 40px;
    margin-top: .25rem;
    padding-top:.09rem;
    padding-bottom: .18rem;
}



.apple {
    display: none;
    width: 11rem;
    max-height: 93.4px;
    margin-top: auto; 
}
   
.header h1 {
    margin: 2.06rem 2rem 2.06rem 1rem;
    display: none;
    color: var(--primary-text-color);
}

.pencils {
  margin-top: auto; 
  display: none;
  width: 11rem;
  max-height: 85px;
}

/**** END: HEADER BASE STYLES ****/

/**** BEGIN: MOBILE AND SMALL TABLET NAVIGATION ****/



.mobile_tablet_nav {
    position: absolute;
    background-color: var(--primary-orange);
    width: 100%;
    height: calc(100vh - 2.644375rem);
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.mobile_tablet_nav li {
    margin-bottom: 3rem;
    line-height: .91em;
}

.mobile_tablet_nav a {
    font-family: 'Rubik';
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
} 

.mobile_tablet_nav a:hover {
    color: var(--primary-text-color);
}


.nav-toggle-label {
    margin-left: .7rem;
       
}
.nav-toggle-label img:hover {
    transform: scale(1.1);
    transition: transform 250ms; 
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
} 

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 400ms ease-in-out 400ms; 
}

/**** END: MOBILE AND SMALL TABLET NAVIGATION ****/

/**** BEGIN: HEADER/NAVIGATION MEDIA QUERIES ****/

@media screen and (min-width: 690px) { 

    .title-container {
        display: flex;
        margin-left: 1rem; 
        margin-right: auto;
        height: 100%;
    }

    .header {
        padding: 0;
        position: static;
    }

    .header h1 {
        display: block;
    }

    .pencils {
        display: block;
    } 

    .header span {
        display: none;
    }

    .header nav {
        display: none;
    }

    #hamburger-menu {
        display: none;
    }
    .mobile_tablet_nav {
        display: none;
    } 
}

@media screen and (min-width: 877px) {
    
    .title-container {
        display: flex;
        margin-left: auto; 
    }

    .header h1 {
        margin-left: 2rem;
    }
    .apple {
        display: block;
    } 
}


/**** END: HEADER/NAVIGATION MEDIA QUERIES ****/


/**** BEGIN: FIRST ROW BASE STYLES ****/

.first-row {
    text-align: center;
    padding-top: 5.25rem;
    background-color: var(--primary-text-color);
    padding-bottom: 3em;
}
.fr-centralize-container {
    display: flex;
    margin: 0px auto;
    width: max-content;
}
.second-nav-container {
    display: none;
}

.headshot {
    width: 240px;
    margin-bottom: .64rem;
}

.first-row h4 {
    color: var(--creme);
    margin-bottom: .75rem;
}
.headshot-bio-container p {
    color: var(--creme);
    margin: .75rem auto 1.5rem;
    width: calc(100% - 2rem);
    max-width: 19.875em;
}



.headshot-bio-container a, .second-row a {
    display: block;
    color:var(--link-blue);
    font-family: 'Rubik';
    font-weight: normal;
    text-decoration: none;
    transition-duration: .3s;
    line-height: 1.5rem;
}

.headshot-bio-container a:hover, .second-row a:hover {
    color:var(--link-hover);
}

/**** END: FIRST ROW BASE STYLES ****/

/**** BEGIN: FIRST ROW MEDIA QUERIES ****/

@media screen and (min-width: 690px) { 

    .first-row {
        padding-top: 3.75rem;
    }
    .second-nav {
        display: block;
    }

    .second-nav li {
        margin-bottom: .75rem;
    }

    .second-nav-container {
        display: block;
    }

    .headshot-bio-container {
        margin-left: 3rem;
    }
    .headshot-bio-container p {
        width: 100%;
    } 

 } 

 @media screen and (min-width: 960px){ 
   
       .headshot-bio-container {
        margin-left: 6rem;
       } 
       
 } 

/**** END: FIRST ROW MEDIA QUERIES ****/

/**** BEGIN: SECOND ROW BASE STYLES ****/

    .second-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-blue);
        padding: 2.265rem 0em 4rem; 
        text-align: center; 
    }
    
    .second-row h3 {
        color: var(--creme);
        margin-bottom: .70rem;
    }

    .stars {
        margin-top: 1.5rem;
        width: 7.52rem;
    }

    .testimonial-container {
        display: flex;
        align-items: center;
    }

    .quote-mark {
        display: none;
        width: 3rem;
        margin: 0 1rem; 
        padding-bottom: 1.5rem;
    }

    .second-row p {
        color: var(--creme);
        margin: .375rem auto .75rem;
        width: calc(100% - 2rem);
        max-width: 31.58em;
    }

    .second-row span {
        font-size: .75rem;
        font-family: "Lora";
        display: block;
        line-height: 1.5rem;
        color: var(--creme);
        margin-right: .75rem;
    }

    .second-row a {
        display: block;
        margin-top: 2.25em; 
    }

/**** END: SECOND ROW BASE STYLES ****/

/**** BEGIN: SECOND ROW MEDIA QUERIES ****/

@media screen and (min-width: 400px) { 
    
    .quote-mark {
        display: block;
    }
    
}

/**** END: SECOND ROW MEDIA QUERIES ****/

/**** BEGIN: THIRD ROW BASE STYLES ****/

    .third-row {
        background-color: var(--primary-yellow);
        padding: 2.25rem 0em 3.15rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .third-row h3 {
        color: var(--primary-text-color);
        text-align: center;
    }

    .pagination {
        display: none;
    }

    .photo-overlay {
        width: 100%;
    }

    .page-display {
        display: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .third-row ul {
        display: none;
    }

    .hidden-input {
        display: none;
    }

   .cur-main-container {
       width: 100%;
       margin-top: .75rem;
   }

    .page-display-container {
        width: 100%;
        max-width: 633.067px;
    }

    .page-container {
        display: none;
    }

    .page {
        display: none;
        width: 5em;
        margin-top: 2rem;
        margin-bottom: 2rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: transform .5s ease-in-out; 
    }

    .page:hover {
        transform: translateY(-.25em);
    }

    .third-row label {
        display: none;
        margin-left: .25rem;
        margin-right:.25rem;
        font-family: 'Rubik';
        border-radius: 3px;
        background-color: var(--button-blue);
        color: white;
        width: 1.9em;
        box-sizing: border-box;
        text-align: center;
        padding: .25em .55em;

    }
    .third-row label:hover{
        background-color: var(--button-hover);
    }

    .third-row li {
        display: none;
        transition: transform 280ms ease-in-out; 
    }

    .third-row li:hover {
        transform: translateY(-2px);
    }

/**** END: THIRD ROW BASE STYLES ****/

/**** BEGIN: THIRD ROW MEDIA QUERIES ****/

@media screen and (min-width: 346px) {
  
    
    .pagination {
        display: block;
        margin-top: .75rem;
    }
    
    .photo-overlay {
        display: none;
    }

    .page-display-container {
        width: calc(100% - .5rem);
        margin-left: auto; 
        margin-right: auto;
    }
    
    .page-display {
        display: block;
        width: 100%;
        max-width: 633.067px;
    }

    .third-row ul {
        display: block;
    }

    .third-row li {
        display: inline-block;
    }

    .third-row label {
        display: block;
    }
    
}

@media screen and (min-width: 386px) {
    .third-row label {
        margin-left: .35rem;
        margin-right: .35rem;
    }
}

@media screen and (min-width: 972px) { 

.page-display-container {
    margin-left: 0; 
    margin-right: 0;
}
.cur-main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-container {
    display: block;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.page {
    display: block;
}

.pagination {
    display: none;
}

}

@media screen and (min-width: 960px){ 
    .page-nav { 
        font-size: .88rem;
    }
}

@media screen and (min-width: 1004px) { 

    .cur-main-container {
        width: calc(1004px - 5rem);
    }
    .page-container {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

@media screen and (min-width: 1200px) { 
    
    .cur-main-container {
        width: calc(950px);
    }

}



/**** END: THIRD ROW MEDIA QUERIES ****/




/**** BEGIN: FOURTH ROW BASE STYLES ****/

    .fourth-row {
        background-color:var(--dark-grey);
        color: var(--primary-text-color);
        display: flex; 
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }
    .fourth-row-wrapper {
        padding: 2.265rem 0em 3rem; 
        background-color:var(--dark-grey);
    }

    .fourth-row h3 {
        color: var(--creme);
        margin-bottom: 2.2rem; 
    }
    .fourth-row h5 { 
        color:var(--creme);
        margin-bottom: .375rem;
    }

    .fourth-row p {
        color: var(--light-grey);
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 1.5rem;
        width: calc(100% - 2rem);
        max-width: 31.58em;
        hyphens: auto;
    }

    .fourth-row label {
        margin-right: 1.5rem;
        color: var(--creme);
        line-height: 1.5rem;
        color: var(--light-grey);
        font-size: 1em;
        font-family: 'Rubik';
        font-size: .75rem;
    }

    .fourth-row-hidden-label {
        display: none; 
    }
    
    input[type="text"]  {
        margin-top: .375rem;
        margin-bottom: .375rem;
        box-sizing: border-box;
        border-radius: 1.5625rem;
        background-color: var(--dark-grey);
        height: 2.5rem; 
        border: solid var(--creme) .1rem;
        padding-left: .8rem;
        font-size: 1rem;  
        color: var(--creme);
        width: calc(100% - 2rem);
        max-width: 20em;
    }

    input[type=text]:focus, 
    input[type=email]:focus, 
    textarea:focus  {
        border: solid var(--link-blue) .1em;
        color: var(--link-blue);
    }

    input[type="email"]  {
        margin-top: .375rem;
        margin-bottom: 1.5rem;
        box-sizing: border-box;
        width: calc(100% - 2rem);
        max-width: 20em;
        height: 2.5rem; 
        border-radius: 1.5625rem;
        background-color: var(--dark-grey);
        border: solid var(--creme) .1rem;
        padding-left: .8rem;
        font-size: 1rem;  
        color: var(--creme);
    }

    ::placeholder {
        color: var(--light-grey);
        font-family: 'Rubik';
        font-weight: 300;
        font-size: .75rem;
    }
    
    textarea {
        font-size: 1em;
        color: var(--creme);
        font-family: 'Rubik';
        box-sizing: border-box;
        padding: .8em;
        width: calc(100% - 2rem);
        height: 10em; 
        border-radius: .8rem;
        border: solid var(--creme) .1rem;
        background-color: var(--dark-grey);
        margin-bottom: 1.5rem;
        max-width: 31rem;
        outline: none;
    }

    button {
        display: block;
        height:3.4em;
        line-height: 140%;
        width: calc(100% - 3rem); 
        margin: 0 auto;
        color:white;
        background-color: var(--button-blue); 
        font-size: 1.25em;
        text-align: center;
        vertical-align: middle;
        font-style: normal;
        border: none;
        border-radius: 15px;
        font-family: 'Rubik';
        max-width: 14em;
        transition: transform 400ms ease-in-out;
      }

      button:hover {
        color: #EDEDED;
        background-color:var(--button-hover);  
        transform: translateY(-2px);
    }
   

/**** END: FOURTH ROW BASE STYLES ****/

/**** BEGIN: FOURTH ROW MEDIA QUERIES ****/

@media screen and (min-width: 424px) {

.fourth-row-hidden-label {
    display: inline-block; 
}
}

@media screen and (min-width: 800px) {
    .fourth-row-wrapper {
        width: 50em;
    }
    .fourth-row {
        background-color:#627c7d;
    }

}
/**** END: FOURTH ROW MEDIA QUERIES ****/
    

/**** BEGIN: FOOTER BASE STYLES ****/ 
   
    .main-footer {
        font-family: 'Rubik';
        font-size: 0.75rem;
        line-height: 1rem;
        color: var(--creme);
        text-align: center;
        background-color: var(--primary-text-color);
        padding: 2em 0;
    }

    .main-footer div {
        line-height: 145%;
    }
    .main-footer span {
        font-weight: 600;
    }

/**** END: FOOTER BASE STYLES ****/

/**** BEGIN: SECONDARY CONTENT BASE STYLES ****/

.secondary-content {
    background-color: var(--creme);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}

.alt-nav {
    display: none;
}

.sec-con-blockquote {
    display: none;
}

.secondary-content h2 {
    align-self: flex-start;
    margin-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: .75rem;
}
.secondary-content h5 {
    align-self: flex-start;
    margin-left: 1rem;
    margin-bottom: .25rem;
}

.sec-text-wrap p {
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
    hyphens: auto;
}

.secondary-content ul {
    list-style-type: disc;
    margin-left: 2.5em;
    margin-right: 1rem; 
}
.secondary-content li {
    margin-bottom: .375rem;
}

.sec-img-background {
    padding-top: 4.5rem;
    margin-top:0;
    width: 100%;
    background-color: var(--primary-text-color);
    text-align: right;
    padding-bottom: 1.4rem;
}

.sec-con-photo-small {
    margin-right: 11%;
    width: 13.9rem;
}


/**** END: SECONDARY CONTENT BASE STYLES ****/

/**** BEGIN: SECONDARY CONTENT MEDIA QUERIES ****/
/* 
@media screen and (min-width: 490px) {
    .sec-con-photo-small {
        width: 14.8rem;
    }
} */

@media screen and (min-width: 600px) { 
   
    .secondary-content {
        padding-top: 0;
    }
    .sec-text-wrap {
        max-width: 35.6em;
    }

    .sec-img-background {
        background-color: #313166;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.5rem;
    }

    .sec-con-photo-small {
        text-align: none;
        margin-right: 0;
    }

    .sec-img-background p {
        font-weight: 500;
        color: white;
        line-height: 1.5rem;
        text-align: center;
    }

    .sec-img-background span {
        margin-top: .75rem;
        font-weight: 400;
        font-size: .75rem;
        display: block;
        color: white;
        line-height: 1.5rem;
    }

    .sec-con-blockquote {
        display: block;
        text-align: center;
        margin-right: 6%;
    }
   
}
@media screen and (min-width: 607px) { 
    .secondary-content ul {  
        margin-left: 1em;
    }
}

@media screen and (min-width: 830px) {
    .sec-img-background p {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .sec-con-photo-small {
        text-align: none;
        margin-right: 0;
        width: 15.9rem;
    }
}
@media screen and (min-width: 690px) { 
   
    .sec-img-background {
         padding-top: 1.8em;
    }
     

    .alt-nav {
        display: block;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 0.8em;
        display: flex; 
        justify-content: center;
        background-color: var(--primary-text-color);
    }

    .alt-nav ul {
        display: flex;
    }
    .alt-nav li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .alt-nav a {
        font-family: 'Rubik';
        color: var(--link-blue);
        text-decoration: none;
        transition-duration: .3s;
    }
    .alt-nav a:hover {
        color: var(--link-hover);
    }
}

@media screen and (min-width: 930px) { 
    .sec-con-blockquote {
        display: block;
        text-align: center;
        margin-right: 3.5rem;
    }
}
/**** END: SECONDARY CONTENT MEDIA QUERIES ****/


/**** BEGIN: COLLEGE WRITING PREP STYLES ****/


.college-writing-prep-h2 {
   line-height: 2.75rem;
}

/**** END: COLLEGE WRITING PREP STYLES ****/

/**** BEGIN: COLLEGE WRITING MEDIA QUERIES ****/

@media screen and (min-width: 377px) { 

    .college-writing-prep-h2 {
        line-height: 3rem;
     }

    .title-br {
        display: none;
    }
}
 /**** END: COLLEGE WRITING MEDIA QUERIES ****/

/**** BEGIN: CLASS ASSIGNMENT STYLES ****/


.class-assignments-h2 {
    line-height: 2.75rem;
 }
 
 /**** END: CLASS ASSIGNMENT  STYLES ****/
 
 /**** BEGIN: CLASS ASSIGNMENT MEDIA QUERIES ****/
 
 @media screen and (min-width: 323px) { 
 
     .class-assignments-h2 {
         line-height: 3rem;
      }
 }
  /**** END: CLASS ASSIGNMENT MEDIA QUERIES ****/

/* To Do's */
/* 

- landscape navigation bug 
- clean up fourth row css
-cross browser testing 
- cross retina display 
- image resolutions |  
- mobile button interactions 
- revise secondary-content text 
- mobile inputs 


*/ 

/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

/* body {
    position: relative;
}

body::after {
    background: url('data:image/svg+xml;utf8,<svg height="6" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 1)" /></svg>') repeat top left;
    
    content: "";
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
}

body:active::after {
    display: none;
} */

