html, .root {
    font-size: 16px;
    line-height: 24px;
  }
  body, .article {
    font-family: lora;
    font-size: 1rem;
    line-height: 1.5rem;
    width: calc(100% - 1.5rem)
    margin: auto;
  }
  h1, .h1 {
    font-size: 6.875rem;
    line-height: 7.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  h2, .h2 {
    font-size: 4.25rem;
    line-height: 4.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  h3, .h3 {
    font-size: 2.625rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  h4, .h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }
  h5, .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }
   ul {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
  p {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  li {
      margin-bottom: .375rem;
  }
  
  /* Let's make sure all's aligned */
  hr, .hr {
    border: 1px solid;
    margin: -1px 0;
  }
  a, b, i, strong, em, small, code {
    line-height: 0;
  }
  sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }


.indent {
    text-indent: 1.5rem;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}





  /**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body {
    position: relative;
}

body::after {
    /* Change the `height` parameter here to match your base line-height. */
    background: url('data:image/svg+xml;utf8,<svg height="" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 1)" /></svg>') repeat top left;
    
    content: "";
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
}

body:active::after {
    display: none;
}
