/**** BEGIN: CSS RESET ****/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
    outline: none;
}

img {
    border-style: none;
}

/**** END: CSS RESET ****/


/**** BREAKPOINTS ****/

/* 
phones: xyz px

tablet: xyz px

laptop: xyz px
desktop: xyz px


*/


/**** Variables ****/

:root {
 --primary-text-color:#071242; 
 --primary-blue: #005F87;
 --link-blue: #00F8FB;
 --link-hover: #19b5fe;
 --primary-yellow: #FFE588;
 --button-blue:#2373EB; 
 --button-hover: #1461D4;  
 --primary-orange: #FDB158;
 --light-grey: #c0ddde;
 --dark-grey: #324b4c;
 --creme: #f5f5f5;
}

/**** BEGIN: GLOBAL BASE STYLES ****/

body {
    font-size: 16px;
    font-family: 'lora';
}

h1 { 
    font-size: 3.375em;
    font-family: 'lora';
    font-weight: 700;
    font-style: italic; 
}

h2 {
    font-size: 2.25em;
    font-family: 'lora';
    font-weight: 700;
    line-height: 1.22em;
    font-style: italic;
}

h3 {
    font-family: 'Lora';
    font-weight: 700;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.83em;
}

h4 {
    font-size: 1.44em;
    font-family: 'lora';
    font-weight: 700;
    font-style: italic;
    line-height: 1.375em;
    margin-top: 1rem; 
    margin-bottom: .5rem; 
}

h5 {
    font-size: 1.1em;
    font-family: 'lora';
    font-weight: 700;
    font-style: italic;
    line-height: 1.375em;
}

p {
    font-family: 'lora';
    font-weight: 400;
    line-height: 145%;
}

ul {
    font-family: 'lora';
    line-height: 145%;
}

/**** END: GLOBAL BASE STYLES ****/

/**** BEGIN: GLOBAL MEDIA QUERIES ****/

@media screen and (min-width: 960px){ 

    body {
        font-size: 18px;
    } 
}   

@media screen and (min-width: 1200px){ 

    body {
        font-size: 20px;
    }
}

/**** END: GLOBAL MEDIA QUERIES ****/

/**** BEGIN: HEADER BASE STYLES ****/

.header {
    background-color: var(--primary-orange);
    width: 100%; 
    position: fixed;
    z-index: 999; 
}

.title-container {
    display: none;
    width: max-content;
}



#hamburger-menu {
    display: inline-block;
    width: 40px;
    margin-top: .5rem;
    margin-left: .5rem;
}



.apple {
    display: none;
    width: 11rem;
    max-height: 93.4px;
    margin-top: auto; 
}
   
.header h1 {
    margin: 2rem 2rem 2rem 1rem;
    display: none;
    color: var(--primary-text-color);
}

.pencils {
  margin-top: auto; 
  display: none;
  width: 11rem;
  max-height: 85px;
}

/**** END: HEADER BASE STYLES ****/

/**** BEGIN: MOBILE AND SMALL TABLET NAVIGATION ****/

.navigation {
    position: absolute;
    background-color: var(--primary-orange);
    width: 100%;
    height: calc(100vh - 2.45rem);
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.navigation li {
    margin-bottom: 3rem;
    line-height: .91em;
}

.navigation a {
    font-family: 'Rubik';
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
} 

.navigation a:hover {
    color: var(--primary-text-color);
}


.nav-toggle-label {
    margin-left: .7rem;
    padding-bottom: .1rem;
    
}
.nav-toggle-label img:hover {
    transform: scale(1.1);
    transition: transform 250ms; 
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
} 

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 400ms ease-in-out 400ms; 
}

/**** END: MOBILE AND SMALL TABLET NAVIGATION ****/

/**** BEGIN: HEADER/NAVIGATION MEDIA QUERIES ****/

@media screen and (min-width: 690px) { 

    .title-container {
        display: flex;
        margin-left: 1rem; 
        margin-right: auto;
        height: 100%;
    }

    .header {
        padding: 0;
        position: static;
    }

    .header h1 {
        display: block;
    }

    .pencils {
        display: block;
    } 

    .header span {
        display: none;
    }

    .header nav {
        display: none;
    }

    #hamburger-menu {
        display: none;
    }
    .navigation {
        display: none;
    } 
}

@media screen and (min-width: 877px) {
    
    .title-container {
        display: flex;
        margin-left: auto; 
    }

    .header h1 {
        margin-left: 2rem;
    }
    .apple {
        display: block;
    } 
}


/**** END: HEADER/NAVIGATION MEDIA QUERIES ****/


/**** BEGIN: FIRST ROW BASE STYLES ****/

.first-row {
    text-align: center;
    padding-top: 5em;
    background-color: var(--primary-text-color);
    padding-bottom: 3em;
}
.container2 {
    display: flex;
    margin: 0px auto;
    width: max-content;
}
.container3 {
    display: none;
}

.second-nav li {
    padding-top: 1.450em; 
    padding-bottom: 1.450em;
    border-radius: 15px;
    font-family: 'Rubik';
    margin-top: 1.25rem;
    border: none;
    width: 13em; 
    background-color: var(--button-blue);
    transition: transform 400ms ease-in-out;
}

.second-nav li:hover {
    transform: translateY(-2px);
    background-color: var(--button-hover);
}

.second-nav a { 
    color: var(--creme);
    text-decoration: none;
   
}

.headshot {
    margin-top: .25rem;
    width: calc(100% - 5rem);
    max-width: 16em;
    height: auto;
    margin-bottom: 1rem;
}

.first-row h3 {
    color: var(--creme);
    line-height: 1.35;
}
.container4 p {
    color: var(--creme);
    margin: .75rem auto 1.5rem;
    width: calc(100% - 2rem);
    max-width: 19.875em;
}



.container4 a, .second-row a {
    color:var(--link-blue);
    font-family: 'Rubik';
    font-weight: normal;
    text-decoration: none;
    transition-duration: .3s;
}

.container4 a:hover, .second-row a:hover {
    color:var(--link-hover);
}

/**** END: FIRST ROW BASE STYLES ****/

/**** BEGIN: FIRST ROW MEDIA QUERIES ****/

@media screen and (min-width: 690px) { 

    .first-row {
    padding-top: 4em; 
    padding-bottom: 4em; 
    }

    .second-nav {
        display: block;
    }

    .container3 {
        display: block;
    }

    .container4 {
        margin-left: 3rem;
    }
    .container4 p {
        width: 100%;
    } 

 } 

 @media screen and (min-width: 960px){ 
   
       .container4 {
        margin-left: 6rem;
       } 
       
 } 

/**** END: FIRST ROW MEDIA QUERIES ****/

/**** BEGIN: SECOND ROW BASE STYLES ****/

    .second-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-blue);
        padding: 2.5em 0em 3em; 
        text-align: center; 
    }
    
    .second-row h2 {
        color: var(--creme);
    }

    .stars {
        margin-top: 2rem;
        width: 8rem;
    }

    .container5 {
        display: flex;
        align-items: center;
    }

    .quote-mark {
        display: none;
        width: 3rem;
        margin: 0 1rem; 
        padding-bottom: 1.5rem;
    }

    .second-row p {
        color: var(--creme);
        margin: .3rem auto 1.5rem;
        width: calc(100% - 2rem);
        max-width: 31.58em;
    }

    .second-row hr {
        width: 8rem;
        background-color: var(--creme);
        height: 1px;
        border: none;
        margin-top: 2.8rem;
    }

    .second-row span {
        font-family: "Lora";
        display: block;
        color: var(--creme);
    }

    .second-row a {
        display: block;
        margin-top: 2.5em; 
    }

/**** END: SECOND ROW BASE STYLES ****/

/**** BEGIN: SECOND ROW MEDIA QUERIES ****/

@media screen and (min-width: 400px) { 
    
    .quote-mark {
        display: block;
    }
    
    .second-row p {
        margin: .3rem 0 1.5rem;
    } 
}

/**** END: SECOND ROW MEDIA QUERIES ****/

/**** BEGIN: THIRD ROW BASE STYLES ****/

    .third-row {
        background-color: var(--primary-yellow);
        padding: 2.5em 0em 3em; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .third-row h2 {
        color: var(--primary-text-color);
        text-align: center;
    }

    .pagination {
        display: none;
    }

    .photo-overlay {
        width: 100%;
    }

    .page-display {
        display: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .third-row ul {
        display: none;
    }

    .hidden-input {
        display: none;
    }

   .cur-main-con {
       width: 100%;
       margin-top: 1rem;
   }

    .page-display-con {
        width: 100%;
        max-width: 633.067px;
    }

    .page-container {
        display: none;
    }

    .page {
        display: none;
        width: 5em;
        margin-top: 2rem;
        margin-bottom: 2rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: transform .5s ease-in-out; 
    }

    .page:hover {
        transform: translateY(-.25em);
    }

    .third-row label {
        display: none;
        margin-left: .25rem;
        margin-right:.25rem;
        font-family: 'Rubik';
        border-radius: 3px;
        background-color: var(--button-blue);
        color: white;
        width: 1.9em;
        box-sizing: border-box;
        text-align: center;
        padding: .25em .55em;

    }
    .third-row label:hover{
        background-color: var(--button-hover);
    }

    .third-row li {
        display: none;
        transition: transform 280ms ease-in-out; 
    }

    .third-row li:hover {
        transform: translateY(-2px);
    }

/**** END: THIRD ROW BASE STYLES ****/

/**** BEGIN: THIRD ROW MEDIA QUERIES ****/

@media screen and (min-width: 346px) {
  
    
    .pagination {
        display: block;
        margin-top: 1rem;
    }
    
    .photo-overlay {
        display: none;
    }

    .page-display-con {
        width: calc(100% - .5rem);
        margin-left: auto; 
        margin-right: auto;
    }
    
    .page-display {
        display: block;
        width: 100%;
        max-width: 633.067px;
    }

    .third-row ul {
        display: block;
    }

    .third-row li {
        display: inline-block;
    }

    .third-row label {
        display: block;
    }
    
}

@media screen and (min-width: 386px) {
    .third-row label {
        margin-left: .35rem;
        margin-right: .35rem;
    }
}

@media screen and (min-width: 972px) { 

.page-display-con {
    margin-left: 0; 
    margin-right: 0;
}
.cur-main-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-container {
    display: block;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.page {
    display: block;
}

.pagination {
    display: none;
}

}

@media screen and (min-width: 1004px) { 

    .cur-main-con {
        width: calc(1004px - 5rem);
    }
    .page-container {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

@media screen and (min-width: 1200px) { 
    
    .cur-main-con {
        width: calc(950px);
    }

}



/**** END: THIRD ROW MEDIA QUERIES ****/




/**** BEGIN: FOURTH ROW BASE STYLES ****/

    .fourth-row {
        background-color:var(--dark-grey);
        color: var(--primary-text-color);
        display: flex; 
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }
    .fourth-row-wrapper {
        padding-top: 2.5em;
        padding-bottom: 3em;
        background-color:var(--dark-grey);
    }

    .fourth-row h2 {
        color: var(--creme);
        margin-bottom: 1rem;
    }
    .fourth-row h3 { 
        color:var(--creme);
    }

    .fourth-row p {
        color: var(--light-grey);
        margin: 0 auto 1rem; 
        width: calc(100% - 2rem);
        max-width: 31.58em;
    }
    
    input[type="text"]  {
        margin-top: .5rem;
        margin-bottom: .5rem;
        box-sizing: border-box;
        height: 3em; 
        border-radius: .8rem;
        background-color: var(--dark-grey);
        border: solid var(--creme) .1rem;
        padding-left: .8rem;
        font-size: 1rem;  
        color: var(--creme);
        width: calc(100% - 2rem);
        max-width: 20em;
    }

    input[type=text]:focus, 
    input[type=email]:focus, 
    textarea:focus  {
        border: solid var(--link-blue) .1em;
        color: var(--link-blue);
    }

    input[type="email"]  {
        margin-top: .35rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        width: calc(100% - 2rem);
        max-width: 20em;
        height: 3em; 
        border-radius: .8rem;
        background-color: var(--dark-grey);
        border: solid var(--creme) .1rem;
        padding-left: .8rem;
        font-size: 1rem;  
        color: var(--creme);
    }

    ::placeholder {
        color: var(--light-grey);
        font-family: 'Rubik';
        font-weight: 300;
        font-size: .8em;
        opacity: 1;
    }


    .checkbox-component {
        width: 15em;
        display: flex;
        flex-direction: column;
        margin: 0 auto 1.5rem;
    }
    .row {
        display: flex;
        justify-content: space-between;
    }

    .checkbox-component label {
        margin-top: .6rem;
        color: var(--light-grey);
        font-size: 1em;
        font-family: 'Rubik';
    } 
    
    /* checkbox1 */ 

    .checkmark1, .checkmark2, .checkmark3, .checkmark4 {
        display: block;
        width: 20px; 
        height: 20px;
        background-color: var(--light-grey);
        border-radius: 2.5px;
        position: relative; 
        transition: background-color 0.4s;
        margin-left: 1rem;
        /* margin-bottom: -.25rem;
        margin-left: 2rem; */
    }

    #classassignments:checked  ~ .checkmark1 {
        background-color: #3477DB;
    }

    .checkmark1::after {
        content: ""; 
        position: absolute;
        width: 5px; 
        height: 9.5px; 
        border-right: 2px solid #fff; 
        border-bottom: 2px solid #fff;
        top: 40%; 
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(40deg);
        opacity: 0;
        transition: all 0.4s;
    }

    #classassignments:checked  ~ .checkmark1:after {
        opacity:1; 
    }

     /* checkbox2 */ 

     .checkmark2 {
        display: block;
        width: 20px; 
        height: 20px; 
        background-color: var(--light-grey);
        border-radius: 2.5px;
        position: relative; 
        transition: background-color 0.4s;
        /* margin-bottom: -.25rem; */
        /* margin-left: 1.53rem; */
    }

    #sat-act-prep:checked  ~ .checkmark2 {
        background-color: #3477DB;
    }

    .checkmark2::after {
        content: ""; 
        position: absolute;
        width: 5px; 
        height: 9.5px; 
        border-right: 2px solid #fff; 
        border-bottom: 2px solid #fff;
        top: 40%; 
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(40deg);
        opacity: 0;
        transition: all 0.4s;
    }

    #sat-act-prep:checked  ~ .checkmark2:after {
        opacity:1; 
    }

    /* checkbox3 */ 

       .checkmark3 {
        display: block;
        width: 20px; 
        height: 20px; 
        background-color: var(--light-grey);
        border-radius: 2.5px;
        position: relative; 
        transition: background-color 0.4s;
        /* margin-bottom: -.25rem; */
        /* margin-left: 1.1rem; */
    }

    #college-writing-prep:checked  ~ .checkmark3 {
        background-color: #3477DB;
    }

    .checkmark3::after {
        content: ""; 
        position: absolute;
        width: 5px; 
        height: 9.5px; 
        border-right: 2px solid #fff; 
        border-bottom: 2px solid #fff;
        top: 40%; 
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(40deg);
        opacity: 0;
        transition: all 0.4s;
    }

    #college-writing-prep:checked  ~ .checkmark3:after {
        opacity:1; 
    }

    /* checkbox4 */ 

    .checkmark4 {
        display: block;
        width: 20px; 
        height: 20px; 
        background-color: var(--light-grey);
        border-radius: 2.5px;
        position: relative; 
        transition: background-color 0.4s;
        /* margin-bottom: -.25rem;
        margin-left: 2.8rem; */
    }

    #math-instruction:checked  ~ .checkmark4 {
        background-color: #3477DB;
    }

    .checkmark4::after {
        content: ""; 
        position: absolute;
        width: 5px; 
        height: 9.5px; 
        border-right: 2px solid #fff; 
        border-bottom: 2px solid #fff;
        top: 40%; 
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(40deg);
        opacity: 0;
        transition: all 0.4s;
    }

    #math-instruction:checked  ~ .checkmark4:after {
        opacity:1; 
    }


    input[type=checkbox] {
        display: none;
    }
    
    textarea {
        font-size: 1em;
        color: var(--creme);
        font-family: 'Rubik';
        box-sizing: border-box;
        padding: .8em;
        width: calc(100% - 2rem);
        height: 10em; 
        border-radius: .8rem;
        border: solid var(--creme) .1rem;
        background-color: var(--dark-grey);
        margin-top: .5rem;
        margin-bottom: 1.5rem;
        max-width: 32.6rem;
    }

    button {
        display: block;
        height:3.4em;
        line-height: 140%;
        width: calc(100% - 3rem); 
        margin: 0 auto;
        color:white;
        background-color: var(--button-blue); 
        font-size: 1.25em;
        text-align: center;
        vertical-align: middle;
        font-style: normal;
        border: none;
        border-radius: 15px;
        font-family: 'Rubik';
        max-width: 14em;
        transition: transform 400ms ease-in-out;
      }

      button:hover {
        color: #EDEDED;
        background-color:var(--button-hover);  
        transform: translateY(-2px);
    }
   

/**** END: FOURTH ROW BASE STYLES ****/

/**** BEGIN: FOURTH ROW MEDIA QUERIES ****/

@media screen and (min-width: 410px) {
    
    input[type="text"]  {
        margin-top: 1rem;
        margin-bottom: .5rem;
        margin-left: .18rem;
        margin-right: .18rem;
        width: 43.5%;
        max-width: 16em;
    }

    input[type="email"]  {
        margin-top: .35rem;
        margin-bottom: 1rem;
        width: 89%;
        max-width: 32.6em;
    }
}

@media screen and (min-width: 800px) {
    .fourth-row-wrapper {
        width: 50em;
    }
    .fourth-row {
        background-color:#627c7d;
    }

}
/**** END: FOURTH ROW MEDIA QUERIES ****/
    

/**** BEGIN: FOOTER BASE STYLES ****/ 
   
    .main-footer {
        font-family: 'Rubik';
        font-size: 0.8em;
        color: var(--creme);
        text-align: center;
        background-color: var(--primary-text-color);
        padding: 2em 0;
    }

    .main-footer div {
        line-height: 145%;
    }
    .main-footer span {
        font-weight: 600;
    }

/**** END: FOOTER BASE STYLES ****/

/**** BEGIN: SECONDARY CONTENT BASE STYLES ****/

.secondary-content {
    background-color: var(--creme);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}

.alt-nav {
    display: none;
}


.secondary-content h2 {
    align-self: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
}

.secondary-content h4 {
    align-self: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-top: 1.25rem;
}

.secondary-content p {
    width: calc(100% - 2rem);
    margin: 0 auto;
    hyphens: auto;
    margin-top: .5rem;
}

.secondary-content ul {
    list-style-type: disc;
    margin-left: 3.5em;
    margin-right: 1rem; 
}
.secondary-content li {
    margin-bottom: .4rem;
}

.sec-img-background {
    padding-top: 3em;
    margin-top:0;
    width: 100%;
    background-color: var(--primary-text-color);
    text-align: right;
}

.secondary-content img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 6rem);
    max-width: 17.6875em;
    margin-right: 10%;
}

.sec-wrap-img {
    display: none;
}

/**** END: SECONDARY CONTENT BASE STYLES ****/

/**** BEGIN: SECONDARY CONTENT MEDIA QUERIES ****/

@media screen and (min-width: 602px) { 
    .sec-text-wrap {
        width: 35.6em;
    }

    .secondary-content ul {
        margin-left: 1em;
    }
   

}

@media screen and (min-width: 690px) { 
   
    .sec-img-background {
        display: none;
    }
    .secondary-content {
        padding-top: 2em;
    }

    .sec-wrap-img {
        display: block;
        margin: 0;
    }
    .sec-img-wrap {
        margin: 0;
    }

    .sec-content img {
        width: 600px;
    }

    .alt-nav {
        display: block;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        font-size: 0.8em;
        display: flex; 
        justify-content: center;
        background-color: var(--primary-text-color);
    }

    .alt-nav ul {
        display: flex;
    }
    .alt-nav li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .alt-nav a {
        font-family: 'Rubik';
        color: var(--link-blue);
        text-decoration: none;
        transition-duration: .3s;
    }
    .alt-nav a:hover {
        color: var(--link-hover);
    }
}
/**** END: SECONDARY CONTENT MEDIA QUERIES ****/











/* To Do's */
/* 
1.


2.Image Resolutions 
2. Focus Pseudo Class
3. font size changing in second-row 
3. Pagination display 
4. Margins images on top 
5. text enlarged on landscape view on mobile 
6. fix header 
7. set line heights 
8. fix form function and layout 
*/ 

