body {
  font-family: Georgia, serif;
  font-size: 1.33em;
  font-weight: 400;
  line-height: 1.4;
  padding: 0 2em;
  margin: 0;
  color: #444;
  overflow-x: hidden;
}

@media (min-width: 40em) {
  body {
    padding: 0 5em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir Next", "Avenir", "Verdana", sans-serif;
}

pre,
code {
  font-family: "Source Code Pro", "Iconsolas", monospace;
}

article {
  max-width: 30em;
  margin: 0 auto;
  padding: 2em 0;
  border-left: 1px solid tomato;
  border-right: 1px solid tomato;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before {
  content: open-quote;
  background: tomato;
}

q:after {
  content: close-quote;
  background: tomato;
}

.hardcoded q {
  quotes: "" "" "" "";
}

.hardcoded q:before,
.hardcoded q:after {
  content: "";
  content: none;
}
