.issue-1 {
  width: 589px;
}

.hardcoded--inline q {
  hanging-punctuation: first;
  font-style: italic;
}

.hardcoded--right p {
  text-align: right;
}

.hardcoded--justify p {
  text-align: justify;
}

.pseudo q:before,
.pseudo q:after {
  hanging-punctuation: first;
}

.first p {
  hanging-punctuation: first;
}

.last p {
  hanging-punctuation: last;
}

.both p {
  hanging-punctuation: both;
}

.allow-end p {
   text-align: justify;
   hanging-punctuation: allow-end;
}

.force-end p {
   text-align: justify;
   hanging-punctuation: force-end;
}
